body {
  background-color: lavender;
}
.btn {
  background-color: greenyellow ;
}

.language{
  color: brown;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#suggestion {
  display: none;
}